
* {
	box-sizing: border-box;

	font-family: sans;
}

h1{
	text-align: center;
}
.container{
	width: 100%;
}
.row {
	margin: 15px;
	float: left;
	background-color:gray ;
	border-width: 2px;
	border-color: black;
	border-style: solid;

}
.row p{
	margin: 10px;
	width: 90%;
}


.row h2{
	width: 5em;
	text-align: center;
	background-color: pink;
	float: right;
	top: 0px;
	
	margin-left: 100%;
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 0px;
	border-style: solid;
	border-color: black;
	border-right: 0px;
	border-top: 0px;
	border-width: 2px;
}

#header1{
	background-color: pink;
}

#header2{
	background-color: orangered;
	color: white;
}

#header3{
	background-color: lightyellow;
}

@media(min-width: 992px) {
	.lg-4{
		float: left;
		width: 33%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.md-6{
		float: left;
		width: 50%;
	}
	.md-12{
		float: left;
		width: 100%;
	}
}

@media(max-width: 767px){
	.sm-12{
		float: left;
		width: 100%;
	}

}